@charset "UTF-8";
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/Awzxz8l4ZOOjLWmwnYFhE9LlLiE4D00Pz2Kz4N" crossorigin="anonymous">

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.button-container button {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* grid2 버튼관련 css  */
.button-container button:hover {
    background-color: #1565c0;
}

    .grid2-buttons {
        display: inline-block;
        margin-left: 10px;
    }
    .grid2-buttons button {
        background-color: #3b7ed9;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        padding: 8px 16px;
    }
    .grid2-buttons button:hover {
        background-color: #4e89d4;
    }
    
    .ui-datepicker {
    z-index: 1001 !important; /* 높은 z-index 값을 설정해주세요. */
	}
	
	.hasDatepicker {
	    position: relative;
	    z-index: 9999;
	}
	
	/* 토스트 UI 그리드 z-index 설정 */
	.tui-grid {
	    z-index: 999; /* 낮은 z-index 값을 설정해주세요. */
	}

	