@charset "UTF-8";


table {
  background-color: white;
  color: black;
  border-collapse: separate;
  border-spacing: 0;
}



thead {
  background-color: #f7f7f7;
  color: #000000;
}




/* 페이지 버튼 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.pagination .active a {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.pagination a:not(.active) {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.pagination a:not(.active):hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

/* 예시를 위한 페이지 버튼 */
.pagination a:nth-child(2) {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}


.text-right {
  display: flex;
  justify-content: center;
}



